<div class="card border-radius-6 clear-margin overflow-hidden" @appearAnimation>
    <div class="card-body h-100">
        <div class="d-flex align-items-start gap-2 h-100 ">
            <div class="d-flex align-items-start gap-1 h-100">
                <div class="employee-profile-header mt-2">
                    <div class="profile profile-36">
                        <div class="profile-picture-container">
                            <div class="profile-picture ">
                                <div>
                                    <img class="profile-picture" src="../assets/images/mister_gogo.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold">Crime Master Gogo</h5>
                    <p class="text-secondary text-x-small">crimemastergogo.keka.com</p>
                    <a class="text-link text-small text-primary-color">Crime Master Gogo Private Limited</a>
                    <div class="d-flex align-items-center mt-20">
                        <div class="mr-20 d-flex align-items-center"><span
                                class="ki-user ki ki-xs mr-4"></span><span class="text-small">265</span>
                        </div>
                        <div class="mr-20 d-flex align-items-center"><span
                                class="ki-location ki ki-sm"></span><span
                                class="text-small">Hyderabad</span></div>
                        <div class="mr-20 d-flex align-items-center"><span
                                class="ki ki-sm ki-watch"></span><span class="text-small text-nowrap">4 years</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center flex-wrap gap-4 flex-grow-1 border-left pl-40 ml-40 py-8">
                <div class="d-flex align-items-center gap-2 w-250 mb-16">
                    <div class="dot dot-xl bg-primary-color-light">
                        <i class="ki ki-history text-primary-color"></i>
                    </div>
                    <div>
                        <p class="text-secondary text-uppercase text-x-small">Expiration</p>
                        <p class="text-primary">Jun 14, 2026</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 w-250 mb-16">
                    <div class="dot dot-xl bg-primary-color-light">
                        <i class="ki ki-calendar text-primary-color"></i>
                    </div>
                    <div>
                        <p class="text-secondary text-uppercase text-x-small">Billing start</p>
                        <p class="text-primary">Jun 14, 2022</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 w-250 mb-16">
                    <div class="dot dot-xl bg-primary-color-light">
                        <i class="ki ki-user text-primary-color"></i>
                    </div>
                    <div>
                        <p class="text-secondary text-uppercase text-x-small">Sales account manager</p>
                        <p class="text-primary">Syed Ali</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 w-250 mb-16">
                    <div class="dot dot-xl bg-primary-color-light">
                        <i class="ki ki-location ki-lg text-primary-color"></i>
                    </div>
                    <div>
                        <p class="text-secondary text-uppercase text-x-small">Region</p>
                        <p class="text-primary">Central Us-01</p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 w-250 mb-16">
                    <div class="dot dot-xl bg-primary-color-light">
                        <i class="ki ki-clock text-primary-color"></i>
                    </div>
                    <div>
                        <p class="text-secondary text-uppercase text-x-small">Onboard status</p>
                        <p class="text-primary">
                            <span class="bg-success-light text-success border-radius-16 px-8">Active</span>
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-2 w-250 mb-16">
                    <div class="dot dot-xl bg-primary-color-light">
                        <i class="ki ki-user-tie ki-lg text-primary-color"></i>
                    </div>
                    <div>
                        <p class="text-secondary text-uppercase text-x-small">Onboarding person</p>
                        <p class="text-primary">Sai Sri</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav sub-topnav border-top border-bottom-0">
        <li routerlinkactive="active"><a>Summary</a></li>
        <li routerlinkactive="active" class="active"><a>Onboarding</a></li>
        <li routerlinkactive="active"><a>Users</a></li>
        <li routerlinkactive="active"><a>Requests</a></li>
        <li routerlinkactive="active"><a>Consumption</a></li>
        <li routerlinkactive="active"><a>Attendance</a></li>
        <li routerlinkactive="active"><a>Conversations</a></li>
        <li routerlinkactive="active"><a>Usage</a></li>
        <li routerlinkactive="active"><a>Tasks</a></li>
    </ul>
</div>

<div class="mt-12">
    <div class="card border-radius-6 clear-margin on-hover-shadow" @appearAnimation>
        <div class="card-body">
            <h4 class="mb-20 font-weight-bold" @appearAnimation>Onboarding progress</h4>
            <div class="d-flex align-items-start gap-2 w-100 my-12 px-16">
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color-light mb-4">
                        <i class="ki ki-check-circle ki-lg text-primary"></i>
                    </div>
                    <p class="font-weight-semi-bold">Data collection</p>
                    <p class="text-secondary">100% complete</p>
                </div>
                <div class="border-bottom border-primary-color border-2 w-150 flex-grow-1 mt-20"></div>
                <div class="d-flex flex-column align-items-center">
                    <span class="selector"></span>
                    <div class="dot dot-xxl bg-primary-color mb-4">
                        <h2 class="text-white">2</h2>
                    </div>
                    <p class="font-weight-semi-bold">Configuration</p>
                    <p class="text-secondary">25% complete</p>
                </div>
                <div class="border-bottom border-secondary border-2 w-150 flex-grow-1 mt-20"></div>
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color-light mb-4">
                        <h2 class="text-primary">3</h2>
                    </div>
                    <p class="font-weight-semi-bold">Testing</p>
                    <p class="text-secondary">0% complete</p>
                </div>
                <div class="border-bottom border-secondary border-2 w-150 flex-grow-1 mt-20"></div>
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color-light mb-4">
                        <h2 class="text-primary">4</h2>
                    </div>
                    <p class="font-weight-semi-bold">Training</p>
                    <p class="text-secondary">0% complete</p>
                </div>
                <div class="border-bottom border-secondary border-2 w-150 flex-grow-1 mt-20"></div>
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color-light mb-4">
                        <h2 class="text-primary">5</h2>
                    </div>
                    <p class="font-weight-semi-bold">Handoff</p>
                    <p class="text-secondary">0% complete</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-12">
    <div class="card border-radius-6 clear-margin" @appearAnimation>
        <div class="card-body">
            <div class="mb-20">
                <h4 class="font-weight-bold" @appearAnimation>Schedule a Solutioning Meeting</h4>
                <p class="text-secondary">Align on the best solution for your needs. Schedule a meeting with our team to discuss your requirements and finalize the approach.</p>
            </div>
            <div class="mb-20">
                <button class="btn btn-primary btn-sm" (click)="openScheduleMeetingModal()">Schedule meeting</button>
                <div class="d-flex align-items-center gap-1 mt-10" *ngIf="isMeetingIdStored">
                    <i class="ki ki-check-circle-fill text-success"></i>
                    <p class="text-large">Meeting scheduled for 10th Mar 2025 (Mon), at 10:00 AM</p>
                    <button class="btn btn-link btn-sm ml-8 d-flex align-items-center justify-content-center" [disabled]="isSoWExtractionInProgress" (click)="extractSoW()">
                        <span class="spinner spinner-dark mr-8" *ngIf="isSoWExtractionInProgress" role="status" @appearAnimation></span>
                        <span>Generate SoW</span>
                    </button>
                </div>
            </div>

            <hr class="mb-20">

            <div class="d-flex align-items-center justify-content-between gap-2 mb-20">
                <h4 class="font-weight-bold" @appearAnimation>Modules subscribed</h4>
                <span tooltip="Generate SoW to view" [isDisabled]="generatedSoW?.trim()?.length">
                    <a class="text-link" [ngClass]="{'opacity-50 pointer-events-none': !generatedSoW?.trim()?.length}" (click)="openSoWViewModal()">View full SoW</a>
                </span>
            </div>

            <!-- Core HR -->
            <div class="on-hover-bg border border-radius-6 on-hover-shadow mb-12 overflow-hidden">
                <div class="d-flex align-items-center gap-2 px-20 py-12 cursor-pointer" (click)="isCoreHrExpanded = !isCoreHrExpanded" [ngClass]="{ 'bg-slate-10 border-bottom': isCoreHrExpanded }">
                    <div class="dot dot-xl bg-primary-color-light mr-12">
                        <i class="ki ki-org ki-lg text-primary-color"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="font-weight-semi-bold text-large mb-4">Core HR</h4>
                        <div class="d-flex align-items-center">
                            <div class="w-110 mr-4">
                                <progressbar [value]="100"></progressbar>
                            </div>
                            <span class="ml-4">100% complete</span>
                        </div>
                    </div>
                    <i class="ki ki-chevron-right ki-lg" [class.transform-90]="isCoreHrExpanded"></i>
                </div>

                <div *ngIf="isCoreHrExpanded" class="bg-primary px-20 py-12" @enterLeaveAnimation5>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">1</span>
                            <div>
                                <p class="text-large">Add leagal entity</p>
                                <p class="text-secondary text-small">The registered business name used in all employee documents.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-check-circle-fill text-success"></i>
                                <span>Completed</span>
                            </div>
                            <button class="btn btn-secondary btn-sm bg-primary">View</button>
                        </div>
                    </div>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">2</span>
                            <div>
                                <p class="text-large">Add locations</p>
                                <p class="text-secondary text-small">Add your organisation's workspace locations.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-check-circle-fill text-success"></i>
                                <span>Completed</span>
                            </div>
                            <button class="btn btn-secondary btn-sm bg-primary">View</button>
                        </div>
                    </div>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">3</span>
                            <div>
                                <p class="text-large">Add departments</p>
                                <p class="text-secondary text-small">Set up departments and sub-departments, assign department heads, etc.</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-check-circle-fill text-success"></i>
                                <span>Completed</span>
                            </div>
                            <button class="btn btn-secondary btn-sm bg-primary">View</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Performance -->
            <div class="on-hover-bg border border-radius-6 on-hover-shadow mb-12 overflow-hidden">
                <div class="d-flex align-items-center gap-2 px-20 py-12 cursor-pointer" (click)="isPMSExpanded = !isPMSExpanded" [ngClass]="{ 'bg-slate-10 border-bottom': isPMSExpanded }">
                    <div class="dot dot-xl bg-primary-color-light mr-12">
                        <i class="ki ki-trendline-up ki-md text-primary-color"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="font-weight-semi-bold text-large mb-4">Performance management</h4>
                        <div class="d-flex align-items-center">
                            <div class="w-110 mr-4">
                                <progressbar [value]="0"></progressbar>
                            </div>
                            <span class="ml-4">0% complete</span>
                        </div>
                    </div>
                    <i class="ki ki-chevron-right ki-lg" [class.transform-90]="isPMSExpanded"></i>
                </div>

                <div *ngIf="isPMSExpanded" class="bg-primary px-20 py-12" @enterLeaveAnimation5>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 d-flex align-items-center justify-content-between gap-2 mb-12">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">1</span>
                            <div>
                                <p class="text-large">Configure goal settings</p>
                                <p class="text-secondary text-small">Setting up objective methodology & timeframes.</p>
                            </div>
                        </div>
                        <a class="text-link text-primary-color" (click)="openGoalSettingsModal()">View policy</a>
                    </div>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 d-flex align-items-center justify-content-between gap-2 mb-12">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">2</span>
                            <div>
                                <p class="text-large">Manage review settings</p>
                                <p class="text-secondary text-small">Setting up reviews & rating scale configuration.</p>
                            </div>
                        </div>
                        <a class="text-link text-primary-color">View policy</a>
                    </div>
                </div>
            </div>

            <!-- Payroll -->
            <div class="on-hover-bg border border-radius-6 on-hover-shadow mb-12 overflow-hidden">
                <div class="d-flex align-items-center gap-2 px-20 py-12 cursor-pointer" (click)="isPayrollExpanded = !isPayrollExpanded" [ngClass]="{ 'bg-slate-10 border-bottom': isPayrollExpanded }">
                    <div class="dot dot-xl bg-primary-color-light mr-12">
                        <i class="ki ki-dollar-screen ki-md text-primary-color"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="font-weight-semi-bold text-large mb-4">Payroll</h4>
                        <div class="d-flex align-items-center">
                            <div class="w-110 mr-4">
                                <progressbar [value]="0"></progressbar>
                            </div>
                            <span class="ml-4">0% complete</span>
                        </div>
                    </div>
                    <i class="ki ki-chevron-right ki-lg" [class.transform-90]="isPayrollExpanded"></i>
                </div>

                <div *ngIf="isPayrollExpanded" class="bg-primary px-20 py-12" @enterLeaveAnimation5>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">1</span>
                            <div>
                                <p class="text-large">Setup pay schedule</p>
                                <p class="text-secondary text-small">Define the pay schedule and it's end date</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-clock-fill text-warning"></i>
                                <span>Pending</span>
                            </div>
                        </div>
                    </div>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">2</span>
                            <div>
                                <p class="text-large">Setup contributions and deductions</p>
                                <p class="text-secondary text-small">Enable the applicable statutory contributions and deductions</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-clock-fill text-warning"></i>
                                <span>Pending</span>
                            </div>
                        </div>
                    </div>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">3</span>
                            <div>
                                <p class="text-large">Setup salary structure</p>
                                <p class="text-secondary text-small">Setup the salary range and structure for employees</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-clock-fill text-warning"></i>
                                <span>Pending</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Timesheet -->
            <div class="on-hover-bg border border-radius-6 on-hover-shadow mb-12 overflow-hidden">
                <div class="d-flex align-items-center gap-2 px-20 py-12 cursor-pointer" (click)="isTimeSheetExpanded = !isTimeSheetExpanded" [ngClass]="{ 'bg-slate-10 border-bottom': isTimeSheetExpanded }">
                    <div class="dot dot-xl bg-light mr-12">
                        <i class="ki ki-clipboard-list ki-md text-primary-color"></i>
                    </div>
                    <div class="flex-grow-1">
                        <h4 class="font-weight-semi-bold text-large mb-4">Timesheet</h4>
                        <div class="d-flex align-items-center">
                            <div class="w-110 mr-4">
                                <progressbar [value]="0"></progressbar>
                            </div>
                            <span class="ml-4">0% complete</span>
                        </div>
                    </div>
                    <i class="ki ki-chevron-right ki-lg" [class.transform-90]="isTimeSheetExpanded"></i>
                </div>

                <div *ngIf="isTimeSheetExpanded" class="bg-primary px-20 py-12" @enterLeaveAnimation5>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">1</span>
                            <div>
                                <p class="text-large">Timesheet setup</p>
                                <p class="text-secondary text-small">Configure timesheet policies, approval chain and payment settings</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-clock-fill text-warning"></i>
                                <span>Pending</span>
                            </div>
                        </div>
                    </div>
                    <div class="border bg-secondary border-radius-6 px-12 py-8 mb-12 d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-start gap-2">
                            <span class="dot dot-md-lg bg-primary-color mt-1">2</span>
                            <div>
                                <p class="text-large">Add clients and projects</p>
                                <p class="text-secondary text-small">Project and client management along with task repositories</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-1">
                                <i class="ki ki-clock-fill text-warning"></i>
                                <span>Pending</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #scheduleMeetingModal>
    <div class="modal-header bg-primary">
        <h5 class="modal-title text-primary">Schedule meeting</h5>
        <span class="ki ki-close icon-no-hover" (click)="scheduleMeetingModalRef.hide()"></span>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="text-secondary" for="meeting-name">Meeting name</label>
            <input type="text" id="meeting-name" class="form-control" [(ngModel)]="scheduleMeetingView.subject" placeholder="Ex: Onboarding configuration for PMS">
        </div>
        <div class="form-group d-flex align-items-center gap-2">
            <div class="flex-grow-1">
                <label class="text-secondary" for="meeting-start">Start time</label>
                <input type="datetime" id="meeting-start" class="form-control" value="{{getTime(scheduleMeetingView.startTime)}}" placeholder="Start time" readonly>
            </div>
            <div class="flex-grow-1">
                <label class="text-secondary" for="meeting-end">End time</label>
                <input type="datetime" id="meeting-end" class="form-control" value="{{getTime(scheduleMeetingView.endTime)}}" placeholder="End time" readonly>
            </div>
        </div>
        <div>
            <label class="text-secondary" for="attendees">Attendees</label>
            <input type="email" id="attendees" class="form-control" [(ngModel)]="scheduleMeetingView.attendees[0]" value="alizaidi310@gmail.com">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" (click)="scheduleMeetingModalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm w-200 d-flex align-items-center justify-content-center" [disabled]="isSchedulingInProgress" (click)="scheduleMeeting()">
            <span class="spinner spinner-light mr-8" *ngIf="isSchedulingInProgress" role="status" @appearAnimation></span>
            <span>Schedule meeting</span>
        </button>
    </div>
    
    
</ng-template>