<div class="modal-header bg-primary">
    <h5 class="modal-title text-primary">Goal settings</h5>
    <span class="ki ki-close icon-no-hover" (click)="closeModal()"></span>
</div>
<div class="modal-body h-100-100 overflow-auto">
    <h3 class="mb-12">Goal terminology</h3>
    <ol class="mb-20">
        <li class="text-large mb-12">
            <p>Do you want to enable Sub-goals (or Key Results) for objectives?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-100px" dropdownToggle>
                    <p class=" text-primary">{{objectiveSettings.useKeyResults ? 'Yes' : 'No'}}</p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-100px" aria-labelledby="menu" *dropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">Yes</p>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">No</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="text-large mb-12">
            <p>Should sub-goals (or Key Results) be mandatory whenever an objective is created?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-100px" dropdownToggle>
                    <p class=" text-primary">{{objectiveSettings.isKeyResultsMandatory ? 'Yes' : 'No'}}</p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-100px" aria-labelledby="menu" *dropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">Yes</p>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">No</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="text-large mb-12">
            <p>Which terminology do you prefer to represent your objectives and sub-elements?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-200" dropdownToggle>
                    <p class=" text-primary">{{goalTerminology.getById(objectiveSettings.goalTerminology)}}</p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-200" aria-labelledby="menu" *dropdownMenu>
                    <li *ngFor="let terminology of goalTerminologies">
                        <a class="dropdown-item">
                            <p class="text-large">{{terminology.title}}</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- <input type="text" class="form-control h-30"> -->
        </li>
    </ol>

    <h3 class="mb-12">Objective Types and Visibility</h3>
    <ol>
        <li class="text-large mb-12">
            <p>For Individual Objectives, do you want them visible to everyone in the organization?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-100px" dropdownToggle>
                    <p class=" text-primary">{{objectiveSettings?.objectiveLevelSettings.individualObjectivesConfig.isVisibleToEveryone ? 'Yes' : 'No'}}</p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-100px" aria-labelledby="menu" *dropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">Yes</p>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">No</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="text-large mb-12">
            <p>Who can create and manage Individual Objectives?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-200" dropdownToggle>
                    <p class="text-primary">
                        <span *ngIf="objectiveSettings?.objectiveLevelSettings.individualObjectivesConfig?.managers?.length">{{objectiveSettings?.objectiveLevelSettings.individualObjectivesConfig?.managers?.length}} selected</span>
                        <span *ngIf="!objectiveSettings?.objectiveLevelSettings.individualObjectivesConfig?.managers?.length" class="text-secondary">NA</span>
                    </p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-200" aria-labelledby="menu" *dropdownMenu>
                    <li *ngFor="let manager of individualObjectiveManagerRoles">
                        <a class="dropdown-item">
                            <p class="text-large">{{manager.name}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="text-large mb-12">
            <p>For Department Objectives, do you want them visible to everyone in the organization?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-100px" dropdownToggle>
                    <p class=" text-primary">{{objectiveSettings?.objectiveLevelSettings.groupObjectivesConfig.isVisibleToEveryone ? 'Yes' : 'No'}}</p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-100px" aria-labelledby="menu" *dropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">Yes</p>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">No</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="text-large mb-12">
            <p>Who can create and manage Department Objectives?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-200" dropdownToggle>
                    <p class="text-primary">
                        <span *ngIf="objectiveSettings?.objectiveLevelSettings.groupObjectivesConfig?.managers?.length">{{objectiveSettings?.objectiveLevelSettings.groupObjectivesConfig?.managers?.length}} selected</span>
                        <span *ngIf="!objectiveSettings?.objectiveLevelSettings.groupObjectivesConfig?.managers?.length" class="text-secondary">NA</span>
                    </p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-200" aria-labelledby="menu" *dropdownMenu>
                    <li *ngFor="let manager of departmentObjectiveManagerRoles">
                        <a class="dropdown-item">
                            <p class="text-large">{{manager.name}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="text-large mb-12">
            <p>For COmpany Objectives, do you want them visible to everyone in the organization?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-100px" dropdownToggle>
                    <p class=" text-primary">{{objectiveSettings?.objectiveLevelSettings.companyObjectivesConfig.isVisibleToEveryone ? 'Yes' : 'No'}}</p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-100px" aria-labelledby="menu" *dropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">Yes</p>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">No</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="text-large mb-12">
            <p>Who can create and manage Company Objectives?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-200" dropdownToggle>
                    <p class="text-primary">
                        <span *ngIf="objectiveSettings?.objectiveLevelSettings.companyObjectivesConfig?.managers?.length">{{objectiveSettings?.objectiveLevelSettings.companyObjectivesConfig?.managers?.length}} selected</span>
                        <span *ngIf="!objectiveSettings?.objectiveLevelSettings.companyObjectivesConfig?.managers?.length" class="text-secondary">NA</span>
                    </p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-200" aria-labelledby="menu" *dropdownMenu>
                    <li *ngFor="let manager of companyObjectiveManagerRoles">
                        <a class="dropdown-item">
                            <p class="text-large">{{manager.name}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ol>

    <h3 class="mb-12">Advanced Objective Settings</h3>
    <ol class="mb-20">
        <li class="text-large mb-12">
            <p>Should alignment be enabled, allowing child objectives to align with a parent objective?</p>
            <div class="dropdown dropdown-custom dropdown-custom-xs mt-4" dropdown>
                <button class="d-flex align-items-center w-100px" dropdownToggle>
                    <p class=" text-primary">{{objectiveSettings.isAlignmentEnabled ? 'Yes' : 'No'}}</p>
                    <span class="ki ki-arrow-dropdown icon ml-auto align-self-center"></span>
                </button>
                <ul class="dropdown-menu w-100px" aria-labelledby="menu" *dropdownMenu>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">Yes</p>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <p class="text-large">No</p>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ol>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="saveGoalSettings()">Save changes</button>
</div>

