<nav class="navbar page-header navbar-light fixed-top" style="background-color: #5746AF !important;">
    <div class="d-flex align-items-center gap-2 justify-content-between w-100">
        <div class="px-16 d-flex align-items-center gap-2">
            <!-- <span class="d-inline-block border-radius-6 bg-dark mr-8 p-4 d-flex align-items-center border border-slate-10">
                <i class="ki ki-wand ki-sm text-light"></i>
            </span> -->
            <img class="mb-1" alt="Keka" height="25" width="69" src="https://stkekastaticdev.blob.core.windows.net/shared/branding/logo/keka-logo-light.svg">
            <img src="../../assets/images/delete.png" alt="" height="14px" class="mt-1">
            <h4 class="text-white mt-4 font-weight-bold">SmartOnboard</h4>
        </div>

        <!-- <button class="btn btn-light btn-x-sm mr-16 d-flex align-items-center gap-1">
            <i class="ki ki-user-in ki-sm text-primary"></i>
            Login
        </button> -->
    </div>
</nav>