<nav class="navbar page-header navbar-light fixed-top" style="background-color: #5746AF !important;">
    <div class="px-16 d-flex align-items-center gap-1">
        <span class="d-inline-block border-radius-6 bg-dark mr-8 p-4 d-flex align-items-center border border-slate-10">
            <i class="ki ki-wand ki-sm text-light"></i>
        </span>
        <!-- <h4 class="text-white">Keka Onboarding using AI</h4> -->
        <h4 class="text-white d-flex align-items-center gap-1">SmartOnboard <i class="ki ki-close ki-xxs text-white"></i> Keka</h4>

    </div>
</nav>