<nav class="navbar page-header navbar-light fixed-top" style="background-color: #5746AF !important;">
    <div class="px-16 d-flex align-items-center gap-2">
        <!-- <span class="d-inline-block border-radius-6 bg-dark mr-8 p-4 d-flex align-items-center border border-slate-10">
            <i class="ki ki-wand ki-sm text-light"></i>
        </span> -->
        <img alt="Keka" height="25" width="69" src="https://stkekastaticdev.blob.core.windows.net/shared/branding/logo/keka-logo-light.svg">
        <!-- <i class="ki ki-dot ki-xxs mt-1 text-white"></i> -->
        <img src="../../assets/images/delete.png" alt="" height="14px" class="mt-1">
        <h4 class="text-white mt-8 font-weight-bold">SmartOnboard</h4>
    </div>
</nav>