<app-top-nav></app-top-nav>
<div class="page-container mx-auto">
    <h4 class="mb-10 font-weight-bold" @appearAnimation>Subscription details</h4>
    <div class="card border-radius-6 clear-margin overflow-hidden" @appearAnimation>
        <div class="card-body h-100">
            <div class="d-flex align-items-start gap-2 h-100 ">
                <div class=" d-flex align-items-start gap-1 h-100">
                    <div class="employee-profile-header mt-2">
                        <div class="profile profile-36">
                            <div class="profile-picture-container">
                                <div class="profile-picture ">
                                    <div>
                                        <img class="profile-picture" src="../assets/images/demo-org.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="font-weight-bold">Frustated Customer</h5>
                        <p class="text-secondary text-x-small">frustatedcustomer.keka.com</p>
                        <a class="text-link text-small">FRUSTATED CUSTOMER PRIVATE LIMITED</a>
                        <div class="d-flex align-items-center mt-10">
                            <div class="mr-20 d-flex align-items-center"><span
                                    class="ki-user ki ki-xs mr-4"></span><span class="text-small">265</span>
                            </div>
                            <div class="mr-20 d-flex align-items-center"><span
                                    class="ki-location ki ki-sm"></span><span
                                    class="text-small">Hyderabad</span></div>
                            <div class="mr-20 d-flex align-items-center"><span
                                    class="ki ki-sm ki-watch"></span><span class="text-small text-nowrap">4 years</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-wrap flex-grow-1 gap-5 border-left pl-40 ml-40 py-8">
                    <div class="d-flex align-items-center gap-2 w-200">
                        <div class="dot dot-xl bg-primary-color-light">
                            <i class="ki ki-history text-primary-color"></i>
                        </div>
                        <div>
                            <p class="text-secondary text-uppercase text-x-small">Expiration</p>
                            <p class="text-primary">Jun 14, 2026</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 w-200">
                        <div class="dot dot-xl bg-primary-color-light">
                            <i class="ki ki-calendar text-primary-color"></i>
                        </div>
                        <div>
                            <p class="text-secondary text-uppercase text-x-small">Billing start</p>
                            <p class="text-primary">Jun 14, 2022</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 w-200">
                        <div class="dot dot-xl bg-primary-color-light">
                            <i class="ki ki-user text-primary-color"></i>
                        </div>
                        <div>
                            <p class="text-secondary text-uppercase text-x-small">Sales account manager</p>
                            <p class="text-primary">Syed Ali</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 w-200">
                        <div class="dot dot-xl bg-primary-color-light">
                            <i class="ki ki-location ki-lg text-primary-color"></i>
                        </div>
                        <div>
                            <p class="text-secondary text-uppercase text-x-small">Region</p>
                            <p class="text-primary">Central Us-01</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 w-200">
                        <div class="dot dot-xl bg-primary-color-light">
                            <i class="ki ki-circle-right-dotted text-primary-color"></i>
                        </div>
                        <div>
                            <p class="text-secondary text-uppercase text-x-small">Onboard status</p>
                            <p class="text-primary">
                                <span class="bg-success-light text-success border-radius-16 px-8">Active</span>
                            </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 w-200">
                        <div class="dot dot-xl bg-primary-color-light">
                            <i class="ki ki-user-tie ki-lg text-primary-color"></i>
                        </div>
                        <div>
                            <p class="text-secondary text-uppercase text-x-small">Onboarding person</p>
                            <p class="text-primary">Sai Sri</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <ul class="nav sub-topnav border-top border-bottom-0">
            <li routerlinkactive="active"><a>Summary</a></li>
            <li routerlinkactive="active" class="active"><a>Onboarding</a></li>
            <li routerlinkactive="active"><a>Users</a></li>
            <li routerlinkactive="active"><a>Requests</a></li>
            <li routerlinkactive="active"><a>Consumption</a></li>
            <li routerlinkactive="active"><a>Attendance</a></li>
            <li routerlinkactive="active"><a>Conversations</a></li>
            <li routerlinkactive="active"><a>Usage</a></li>
            <li routerlinkactive="active"><a>Tasks</a></li>
        </ul>
    </div>

    <h4 class="mb-10 mt-40 font-weight-bold" @appearAnimation>Onboarding progress</h4>
    <div class="card border-radius-6 clear-margin on-hover-shadow" @appearAnimation>
        <div class="card-body">
            <div class="d-flex align-items-center gap-2 w-100 my-12 px-16">
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color mb-4">
                        <i class="ki ki-check-circle ki-lg text-white"></i>
                    </div>
                    <p class="font-weight-semi-bold">Data collection</p>
                    <p class="text-secondary">100% complete</p>
                </div>
                <div class="border-bottom border-primary-color border-2 w-200 flex-grow-1"></div>
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color-light mb-4">
                        <h2 class="text-primary">2</h2>
                    </div>
                    <p class="font-weight-semi-bold">Configuration</p>
                    <p class="text-secondary">70% complete</p>
                </div>
                <div class="border-bottom border-secondary border-2 w-200 flex-grow-1"></div>
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color-light mb-4">
                        <h2 class="text-primary">3</h2>
                    </div>
                    <p class="font-weight-semi-bold">Testing</p>
                    <p class="text-secondary">0% complete</p>
                </div>
                <div class="border-bottom border-secondary border-2 w-200 flex-grow-1"></div>
                <div class="d-flex flex-column align-items-center">
                    <div class="dot dot-xxl bg-primary-color-light mb-4">
                        <h2 class="text-primary">4</h2>
                    </div>
                    <p class="font-weight-semi-bold">Deployment</p>
                    <p class="text-secondary">0% complete</p>
                </div>
            </div>
        </div>
    </div>

    <h4 class="mb-10 mt-40 font-weight-bold" @appearAnimation>Tasks & Actions</h4>
    <div class="card border-radius-6 clear-margin" @appearAnimation>
        <div class="card-body">
            <div class="action-card border border-radius-6 on-hover-shadow px-20 py-12 d-flex align-items-center gap-2 mb-12">
                <div class="dot dot-xl bg-primary-color mr-12">
                    <h3 class="text-white">1</h3>
                </div>
                <div class="flex-grow-1">
                    <h4 class="font-weight-semi-bold text-large mb-4">Core HR</h4>
                    <div class="d-flex align-items-center">
                        <div class="w-110 mr-4">
                            <progressbar [value]="100"></progressbar>
                        </div>
                        <span class="ml-4">100% complete</span>
                    </div>
                </div>
                <i class="ki ki-chevron-right ki-lg"></i>
            </div>
            <div class="action-card border border-radius-6 on-hover-shadow px-20 py-12 d-flex align-items-center gap-2 mb-12">
                <div class="dot dot-xl bg-light mr-12">
                    <h3 class="text-secondary">2</h3>
                </div>
                <div class="flex-grow-1">
                    <h4 class="font-weight-semi-bold text-large mb-4">Performance management</h4>
                    <div class="d-flex align-items-center">
                        <div class="w-110 mr-4">
                            <progressbar [value]="0"></progressbar>
                        </div>
                        <span class="ml-4">0% complete</span>
                    </div>
                </div>
                <i class="ki ki-chevron-right ki-lg"></i>
            </div>
            <div class="action-card border border-radius-6 on-hover-shadow px-20 py-12 d-flex align-items-center gap-2 mb-12">
                <div class="dot dot-xl bg-light mr-12">
                    <h3 class="text-secondary">3</h3>
                </div>
                <div class="flex-grow-1">
                    <h4 class="font-weight-semi-bold text-large mb-4">Payroll</h4>
                    <div class="d-flex align-items-center">
                        <div class="w-110 mr-4">
                            <progressbar [value]="0"></progressbar>
                        </div>
                        <span class="ml-4">0% complete</span>
                    </div>
                </div>
                <i class="ki ki-chevron-right ki-lg"></i>
            </div>
            <div class="action-card border border-radius-6 on-hover-shadow px-20 py-12 d-flex align-items-center gap-2 mb-12">
                <div class="dot dot-xl bg-light mr-12">
                    <h3 class="text-secondary">4</h3>
                </div>
                <div class="flex-grow-1">
                    <h4 class="font-weight-semi-bold text-large mb-4">Timesheet</h4>
                    <div class="d-flex align-items-center">
                        <div class="w-110 mr-4">
                            <progressbar [value]="0"></progressbar>
                        </div>
                        <span class="ml-4">0% complete</span>
                    </div>
                </div>
                <i class="ki ki-chevron-right ki-lg"></i>
            </div>
        </div>
    </div>

</div>